<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMES PARSER</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <form @submit.prevent="submitForm">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input
                        class="input"
                        type="text"
                        v-model="keyWord"
                        :disabled="isLoading"
                        placeholder="Введите ключевое слово" required>
            </p>
            <p class="control">
                <button
                        class="button is-info"
                        type="submit"
                        :disabled="isLoading"
                >Отправить
                </button>
            </p>
        </div>
    </form>
    <div v-if="result">
        <pre>{{ result }}</pre>
    </div>
    <img class="loadingImg" src="img/XOsX.gif" alt="" v-if="isLoading">
    <hr>
    <b>Найдено репозиториев: {{repos.length}}</b>
    <hr>
    <div class="table-wrapper">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th><b>#</b></th>
                <!--
                <th>ID</th>
                -->
                <th>Поисковый запрос</th>
                <th>Репозиторий</th>
                <th>Homepage</th>
                <!--
                <th>Упоминания</th>
                -->
                <th>Комментарий</th>
                <th></th>
                <th></th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3">
                    <div class="field">
                        <div class="control">
                            <input
                                    class="input"
                                    type="text"
                                    v-model="keywordSearch"

                                    placeholder="Введите текст ключевого слова">
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="field">
                        <div class="control">
                            <input
                                    class="input"
                                    type="text"
                                    v-model="commentSearch"

                                    placeholder="Введите текст для поиска по комментариям">
                        </div>
                    </div>
                </td>
            </tr>

            <tr v-for="(repo, index) in filteredRepos" :key="repo.id">
                <td style="white-space: nowrap;"><b>{{index + 1}}</b></td>
                <!--
                <td>{{ repo.id }}</td>
                -->
                <td>{{ repo.key_word }}</td>
                <td><a :href="'https://github.com/' + repo.repo_name" target="_blank">{{ repo.repo_name }}</a></td>
                <td>
                    <a :href="repo.homepage" target="_blank">{{ repo.homepage }}</a>
                    <br>
                    <div class="comment" v-if="repo.comment ">
                        <small>{{ repo.comment }}</small>
                    </div>

                </td>
                <!--
                <td>{{ repo.content }}</td>
                -->
                <td>
                    <textarea class="textarea" cols="30" v-model="repo.comment"
                              @blur="addComment(repo.id, repo.comment)">>{{ repo.comment }}</textarea>
                </td>

                <td>
                    <button class="button is-link" @click="updateComment(repo.id, '+'); repo.comment = '+'">+</button>
                </td>

                <td>
                    <button class="button is-warning" style="background-color: #ff3838; color: white;"
                            @click="updateComment(repo.id, '-'); repo.comment = '-'">-
                    </button>
                </td>
                <td style="white-space: nowrap;">{{ new Date(repo.created_at).toISOString().split('T')[0] }}</td>

            </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="js/app.js"></script>
</body>
</html>